In [1]:
# loading initail libraries
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [5]:
#reading a csv file
df=pd.read_csv("C:/Users/admin/OneDrive/Desktop/Third semester/Artificial Intelligance and Machine Learning/archive (2)/New data file.csv")

In [6]:
#first 20 lines
df.head(20)

    customer_id  shipment_location_lat  shipment_location_long  total_amount
0          5868              -8.227893              111.969107        199832
1          4774               3.013470              107.802514        155526
2          4774              -2.579428              115.743885        550696
3          4774              -3.602334              120.363823        271012
4          4774              -3.602334              120.363823        198753
5          4774              -3.602334              120.363823        181865
6          4774              -7.712608              110.502877        306599
7          4774               3.293114               98.857043        153913
8          4774              -6.126016              106.779552        370757
9          4774              -0.992004              114.438739       1295740
10         4774              -5.201649              105.760460       1895458
11         4774              -8.087654              110.679739        253391
12         4774              -7.118592              113.312235        249616
13         4774              -0.703569              112.148769       2108413
14         4774              -3.602334              120.363823        464824
15         4774              -6.277846              107.429749        374701
16         4774              -3.602334              120.363823        126784
17         4774              -0.631714              110.620710        175789
18         4774              -6.142456              107.374327        128487
19         4774              -3.602334              120.363823        271618

In [7]:
# Check for missing values
missing_values = df.isnull()
print(missing_values)

        customer_id  shipment_location_lat  shipment_location_long  \
0             False                  False                   False
1             False                  False                   False
2             False                  False                   False
3             False                  False                   False
4             False                  False                   False
...             ...                    ...                     ...
852579        False                  False                   False
852580        False                  False                   False
852581        False                  False                   False
852582        False                  False                   False
852583        False                  False                   False

        total_amount
0              False
1              False
2              False
3              False
4              False
...              ...
852579         False
852580         False
852581         False
852582         False
852583         False

[852584 rows x 4 columns]

I guess no missing value in the data set.

Question 4) I need you help in class because I didn't understand the data set, so could you please help me about analysis, right now Whatever I understand I did inthis exercise. 
hopefull understand and help me.